<div class="card">
  <div class="p-fluid">
    <div class="p-field">
      <label for="serviceSelector">Service:</label>
      <p-dropdown id="serviceSelector" [options]="services" [(ngModel)]="selectedService" optionLabel="name"
        optionValue="publicId"></p-dropdown>

    </div>
    <div class="p-field">
      <label for="branchSelector">Branches:</label>
      <p-multiSelect id="branchSelector" [options]="dmvBranches" [group]="true" [(ngModel)]="selectedBranches"
        defaultLabel="Select branch(es)" scrollHeight="250px" display="chip">
        <ng-template let-group pTemplate="group">
          <div class="p-d-flex p-ai-center">
            <span>{{group.label}}</span>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
    <div class="p-field">
      <button pButton type="button" label="Submit" (click)="handleSubmit($event)" [disabled]="loading"></button>
    </div>
  </div>
  <div class="p-field" *ngIf="loading">
      <label for="branchProgressbar">Progress for branches:</label>
      <p-progressBar id="branchProgressbar" [value]="value" *ngIf="loading"></p-progressBar>
  </div>
  <div class="p-field" *ngIf="loading">
      <label for="timeProgressbar">Progress for times in current branch:</label>
      <p-progressBar id="timeProgressbar" [value]="valueTimes" *ngIf="loading"></p-progressBar>
  </div>
  <p-card [header]="selectedAptHeader" [subheader]="selectedTimerange" [style]="{'margin-bottom': '2em'}" styleClass="p-card-shadow" *ngIf='haveResults'>
    <ng-template pTemplate="footer">
      <p-button label="Book on DMV website" icon="pi pi-external-link" (click)="bookApt($event)"></p-button>
    </ng-template>
  </p-card>
  <p-fullCalendar #fc [events]="events" [options]="options" *ngIf="!loading && haveResults"></p-fullCalendar>
</div>

<router-outlet></router-outlet>